.ant-input-affix-wrapper .ant-input:not(:first-child) {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  width: 10px;
  transition: width 0.3s ease-out;
  background-position: left top;
    top:0; 
    right:0; 
    outline: 0;
}

li.ant-menu-item.ant-menu-item-selected:nth-child(2) {
    color: black;
    border-bottom: 0;
}
.ant-input-affix-wrapper .ant-input:not(:first-child):hover {
  width: 10rem;
  border-bottom: 1px solid;
}

.ant-menu-item .anticon {
}

.ant-layout {
  .ant-layout-header {
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    padding: 5px;

    .ant-menu-horizontal {
      border-bottom: 0;
    }
  }
}

.ant-layout-sider,
.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline,
.ant-menu-sub.ant-menu-inline {
  background: #007bff;
  color: #ffffff;
}

.ant-menu-item > a {
  color: #ffffff;
}

i.anticon.anticon-close.trigger {
  margin-right: 10rem;
}

.anticon[tabindex] {
  display: grid;
  place-items: center;
  margin: 1rem 0;
  font-size: 1rem;
  font-kerning: auto;
}

.ant-menu-inline,
.ant-menu-vertical {
  .ant-menu-item:nth-child(7) {
    position: absolute;
    bottom: 1rem;
  }
}
